* {
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-image: linear-gradient(rgb(255, 0, 0), #001aff, #000000, rgb(255, 0, 0), #001aff, #000000);
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

header {
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

main {
    padding: 20px;
}

.packages {
    margin-bottom: 20px;
}

.packages h2 {
    text-align: center;
}

.packages ul {
    list-style: none;
    padding: 0;
}

.packages ul li {
    background-color: #aa2323;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.packages ul li h3 {
    text-align: center;
}

.packages ul li p {
    text-align: center;
}

.packages ul li a {
    background-color: #000000;
    color: #fff;
    display: block;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
}

.order-form {
    margin-bottom: 20px;
}

.order-form form {
    display: flex;
    flex-direction: column;
}

.order-form form input,
.order-form form select,
.order-form form button {
    margin-bottom: 10px;
}

.EG {
    background-color: #173d05;
    color: #fdf9f9;
    margin: 10px;
}

.US {
    background-color: #173d05;
    color: #fdf9f9;
    margin: 10px;
}

#su {
    height: 50px;
    color: #fdf9f9;
    background-image: linear-gradient(rgb(0, 0, 0), #ff0606);
}